/*
 * docifier
 * auto-documentation library
 * ( this will be pulled out of the iotaa project and into a standalone project in time )
 * by andy monis
 * 2017
 */
.is-320, .is-480, .is-640, .is-800, .is-960, .is-full {
    background-color: #eee;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQYV2NkwAIY8QqeOXPmv4mJCVgRfpXIxgAA0TAEBs593zYAAAAASUVORK5CYII=) repeat;
    border: 1px solid #eee;
    margin: 10px;
}

.is-320 { width:320px; }
.is-480 { width:480px; }
.is-640 { width:640px; }
.is-800 { width:800px; }
.is-960 { width:960px; }
.is-full { width:100%; margin: 0px; }

.is-code {
    background: #eee;
    font-family: monospace;
    font-size: 12px;
    padding: 5px;
}

#docifier-controls {
    background: rgba(255,255,255,0.95);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ccc;
    top: 0;
}

#docifier-controls button {
    margin: 2px;
    height: 24px;
}

#docifier-controls > div {
    display: flex;
    justify-content: center;
}

#docifier-controlled-width {
    align-self: center;
}

.docifier-h1, .docifier-h2, .docifier-h3, .docifier-p {
    padding: 5px;
    text-align: center;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

body > *:nth-child(2) {
    padding-top: 70px;
}
